@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&family=Roboto&display=swap');


*{
    margin: 0;
}
/* general CSS */
html {
    scroll-behavior: smooth;
  }
body{
    font-family:'merriweather'
}
a{
    text-decoration: none;
    color: #000
}
a:hover{
    text-decoration: underline
}
#body{
    position: relative;
    z-index: 3;
}
#mitte{
    position: absolute;
    width: 100%;
    top: 450px;
    z-index: 2;
}
#unten{
    position: absolute;
    width: 100%;
    top: 900px;
    z-index: 3;
    background-color: #F2F3F3;
}

/* Header Nav */
nav{
    height: 4vh;
    background-color: #F2F3F3;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    display: inline-block;
}
nav>h3{
    padding-left: 8px;
    padding-right: 50vw;
    display: inline-block;
    font-family: 'anton';
    letter-spacing: 2px;
    font-size: 25px;
}
#navlist{
    display: inline-block;
    text-align: right;
    padding-top: 2px;
}
#navlist li{
    list-style-type: none;
    display: inline-block;
    padding-left: 60px;
}
/* Hero section */
#hero{
    height: 130vh;
    background-image: url(../img/steve-johnson-zBY6td_nVNA-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero h1{
    font-size: 80px;
    position: relative;
    top: 290px;
    padding-left: 8px;
    color: #F2F3F3
}
#hero h2{
    font-size: 30px;
    position: relative;
    top: 290px;
    padding-left: 8px;
    color: #F2F3F3;
}
/* Gallery Section */
#transit div{
    width: 100%;
    height:80vh;
    background-image:url(../img/transit.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#gallery h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 40px;
}
span{
    font-family: 'anton';
    letter-spacing: 2px;
    font-size: 60px;
}
#gallery p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}
#gallery a{
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-left: 42%;
}
img{
    margin-left: 10%;
    padding-top: 50px;
    width: 35%;
    height: 500px;
}
img:hover{
    box-shadow: 5px 5px 5px rgb(37, 35, 35)();
}
/* FOOTER */
#base h3{
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 80px;
}
#base p{
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
}
form{
    text-align: center;
    padding-bottom: 50px;
}
#button{
    color:#000;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 1px 1px;
}
#mail{
    border: none;
    box-shadow: 1px 1px 1px 1px;
    margin-bottom: 5px;
}

