@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&family=Roboto&display=swap');


*{
    margin: 0;
}
/* general CSS */
html {
    scroll-behavior: smooth;
}
body{
    font-family:'merriweather'
}
a{
    text-decoration: none;
    color: #000
}
a:hover{
    text-decoration: underline
}
#body{
    position: relative;
    z-index: 3;
}
#mitte{
    position: absolute;
    width: 100%;
    top: 500px;
    z-index: 2;
}
#unten{
    position: absolute;
    width: 100%;
    top: 950px;
    z-index: 3;
    background-color: #F2F3F3;
}

/* Header Nav */
nav{
    height: 5vh;
    background-color: #F2F3F3;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    display: inline-block;
}
nav>h3{
    padding-left: 8px;
    padding-right: 45vw;
    display: inline-block;
    font-family: 'anton';
    letter-spacing: 2px;
    font-size: 25px;
}
#navlist{
    display: inline-block;
    text-align: right;
    padding-top: 2px;
}
#navlist li{
    list-style-type: none;
    display: inline-block;
    padding-right: 50px;
}
/* Hero section */
#hero{
    height: 130vh;
    background-image: url(../img/steve-johnson-zBY6td_nVNA-unsplash.jpg);
    background-size: cover
}
#hero h1{
    font-size: 80px;
    position: relative;
    top: 270px;
    padding-left: 8px;
    color: #F2F3F3;
    letter-spacing: 1px;
}
#hero h2{
    font-size: 30px;
    position: relative;
    top: 270px;
    padding-left: 8px;
    color: #F2F3F3;
    letter-spacing: .5px;
}
/* Gallery Section */
#transit div{
    width: 100%;
    height:80vh;
    background-image:url(../img/transit.png);
    background-size: cover
}
#gallery h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 40px;
}
span{
    font-family: 'anton';
    letter-spacing: 3px;
    font-size: 70px;
}
#gallery p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}
#gallery article{
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
#gallery article a{
    font-family: 'anton'
}
img{
    margin-left: 10%;
    margin-top: 50px;
    width: 35%;
    height: 500px;
    box-shadow: 3px 3px 8px 3px #888888;
}

/* FOOTER */
#base h3{
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 80px;
}
#base p{
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
}
form{
    text-align: center;
    padding-bottom: 50px;
}
#button{
    color:#000;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 15px;

}
#button:hover{
    background-color: rgb(194, 194, 194);
}
#mail{
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    outline:none;
    box-shadow: 1px 1px 8px 1px #888888;
}
#mail:hover{
    box-shadow: none
}
/* SOCIALS */
#socials ul{
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 50px;
}
#socials li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
}
::placeholder{
    text-align: center;
}